<footer class="footer">
  <div class="container content">
    <div class="columns">
      <div class="column">
        <h3>Get in touch</h3>
        <p>
          <i class="fab fa-gitter"></i>
          Discuss with us on
          <a href="{{ site.zulip }}">Zulip</a>
          <br />
          <i class="fas fa-at"></i>
          <a href="mailto:{{ site.email }}">
            {{ site.email|replace:'@','[at]' }}
          </a>
          <br />
          <i class="fab fa-github"></i>
          <a href="{{ site.github.repository_url }}">
            {{ site.github.owner_name }}
          </a>
          <br />
        </p>
      </div>
      <div class="column is-5">
        <p>
          If you want to report a problem or suggest an enhancement we'd love
          for you to
          <a href="{{ site.github.repository_url }}/issues/new">open an issue</a>
          on our GitHub repository because then we can get right on it.
        </p>
	<p>
        This project has been launched thanks to <a href="https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/">Mozilla Open Leaders</a> Program <a href="https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-7/">Round 7</a>. We are particularly grateful to <a href="http://bebatut.fr/">Bérénice</a> who was more than just our mentor. We could not have started this project in a better way! THANK YOU!!!**
</p>
        <p>
	  The website template has been created by <a href="https://streetscience.community/">StreetScienceCommunity</a> from <a href="https://github.com/StreetScienceCommunity/StreetScienceCommunity.github.io">StreetScienceCommunity Github</a>.
        </p>
        <p>
          The website content is licensed
          <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
