---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo %}
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E1CJDB92NK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-E1CJDB92NK');
    </script>
  </head>
  <body>
    {% include default-header.html %}

    {{ content }}

    {% include default-footer.html %}

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="/js/scripts.js"></script>
    {% if page.twitter_moment %}
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}
  </body>
</html>
