---
layout: default
css: events
---

<section class="section-content">
     <div class="container content {{ layout.css }} {{ page.css }}">
     <h1>Add an event</h1>
     <ul>
     <li>Create a <a href="https://github.com/NordicESMhub/nordicesmhub.github.io/new/master/_events">new file</a> in the `_events` directory.</li>
     <li> Update title, description, start and end date, etc. If you are willing to add a figure you can either add a link or you would need to upload the corresponding picture in <a href="https://github.com/NordicESMhub/nordicesmhub.github.io/upload/master/images/events">images/events</a>.</li>
     <li> Finally save your changes and make a pull request.</li>
     <li> Contact us if you have any problems <a href="https://nordicesmhub.zulipchat.com/"><img src="https://img.shields.io/badge/join%20us-on%20zulip-blue.svg"></a>.</li>
     </ul>
    </div>
</section>

{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} {%
assign events = site.events | sort:"starts" | reverse %}

<section class="section-content">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Topic/Event</th>
          <th class="is-hidden-mobile">Starts</th>
          <th class="is-hidden-mobile">Ends</th>
          <th class="is-hidden-mobile">Location</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>
            <h4><a href="{{ event.url }}">{{ event.title | escape }}</a></h4>
            <div>{{ event.excerpt }}</div>
          </td>
          <td class="is-hidden-mobile">
            <span class="text-nowrap"
              >{{ event.starts | date: date_format }}</span
            >
          </td>
          <td class="is-hidden-mobile">
            <span class="text-nowrap"
              >{{ event.ends | date: date_format }}</span
            >
          </td>
          <td class="is-hidden-mobile">
            {% if event.location.city %} {{ event.location.city }}, {% endif %}
            {{ event.location.country }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</section>
