---
layout: default
format: frontpage
---

<section class="section">
  <div class="container content {{ layout.css }} {{ page.css }}">
      {{ content }}
  </div>
</section>


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<section class="section home">
  <div class="columns">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- columns -->
</section>

